# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
    name = Dalton Altstaetter
    email = Dalton.Altstaetter@cirrus.com
[push]
    default = matching
[core]
    editor = vim
    autocrlf = true
    excludesfile = ./.gitignore
    whitespace = cr-at-eol
    longpaths = true
[diff]
    tool = meld
[difftool]
    prompt = true
[difftool "meld"]
    cmd = meld.exe "$LOCAL" "$REMOTE"
[color]
    ui = auto
[color "branch"]
    current = yellow bold
    local = green bold
    remote = cyan bold
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
    whitespace = red reverse
[color "status"]
    added = green bold
    changed = yellow bold
    untracked = red bold
[alias]
    c = commit
    cm = commit -m
    cms = commit -sm
    ca = commit --amend
    ########
    a = add
    au = add --update
    ap = add --patch
    ########
    d = diff
    dc = diff --cached
    dw = diff --ignore-all-space --ignore-blank-lines
    dcw = diff --cached -w
    dwc = diff --cached -w
    ########
    unstage = reset HEAD --
    undo-commit = reset --soft HEAD
    ########
    pullom = pull origin master
    ########
    pushom = push origin master
    pushreview = push origin HEAD:refs/for/master
    pushdrafts = push origin HEAD:refs/drafts/master%r=svc_playback
    ########
    resetbranch = checkout -B master origin/master
    ########
    m = merge
    mo = merge -s ours
    mt = merge -X theirs
    ########
    f = fetch
    ########
    st = status
    ########
    co = checkout
    ########
    ls = ls-files
    l = log
    lol = log --pretty=format:'%C(auto) %h %ad | %s%d [%C(red bold)%an%Creset]' --graph --date=short --all
    r = remote
    ########
    rb = rebase
    rbi = rebase -i
    alias = config --global --get-regexp "^alias.*"
    clone = clone --recursive
    br = branch
    rp = rev-parse
    ls-r = ls-remote
    rclone = clone --recursive
    sb = show-branch
    whatadded = log --diff-filter=A
    merge-patch = am -3
    selectChanges0 = git diff --name-only --diff-filter=AMD HEAD origin/master -- *.[ch] |& tee changed_files.txt
    selectChanges1 = "xargs -a changed_files.txt git co -p origin/master -- "
    diff-exclude = diff HEAD~1 HEAD --name-status -- . ':(exclude)testcases'


[gitreview]
    username = Dalton Altstaetter
[merge]
    tool = meld
[mergetool "meld"]
    cmd = meld "$LOCAL" "$BASE" "$REMOTE" --output "$MERGED"

[http]
    sslCAInfo = C:/Program Files/Git/mingw64/ssl/certs/ca-bundle.crt
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    required = true
    process = git-lfs filter-process
[credential]
    helper = manager




